.clinical-report-wrapper {
  margin: 0;
  background-color: rgb(223, 231, 255);
  padding: 0 0 2rem;
  height: auto;
  width: 100%;
  position: relative;

  h6 {
    color: rgb(69, 78, 202);
    padding: 3rem 0 1rem;
    text-align: center;
    font-size: 16px;
  }

  img {
    position: absolute;
    width: 80px;
    height: auto;
    top: 0;
    right: 0;
    padding: 2rem 2rem 0;
  }
}

.clinic-info {
  & > div {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  p {
    margin: 0;
    width: clamp(160px, 1vw, 160px);
    font-size: 13px;
  }

  .user-data {
    margin-top: 0.2rem;
    display: inline-block;
    padding: 0.3rem 0.2rem;
    background-color: white;
    text-transform: uppercase;
  }

  @media (max-width: 900px) {
    p {
      width: clamp(100px, 1vw, 100px);
    }
    .user-data {
      background-color: transparent;
    }
  }
}
