@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&family=Open+Sans:wght@300&family=Parisienne&display=swap');
@import '../.././index.scss';

.table-wrapper {
    max-height: 550px;
    overflow-y: scroll;
    overflow-x: hidden;

    @media (max-width: 550px) {
        overflow-x: auto;
    }
}

.notes-container {
    margin: 2rem 0 2rem 0.5rem;
    background-color: $skyBlue;
    padding: 1rem;

    p {
        font-family: 'Homemade Apple', cursive;
        font-size: 16px;
    }

    @media (max-width: 580px) {
        width: 98%;
    }
}

.pres-footer {
    padding: 0 1rem 0 0rem;
    width: 95%;
    margin: 1rem auto;
    font-size: clamp(1rem, 1vw, 2rem);

    @media (max-width: 650px) {
        padding: 0 1rem 0 1rem;
        width: 85%;
    }
}
